<article class="card">
  <div class="card__content">
    <div class="card__block">
      <p class="card__name">{{ name }}</p>
      <img
        class="card__logo"
        *ngIf="paymentSystem === 'visa'"
        src="../../assets/image/visa-logo.svg"
        alt="логотип карты"
      />
      <img
        class="card__logo"
        *ngIf="paymentSystem === 'mastercard'"
        src="../../assets/image/mastercard-logo.svg"
        alt="логотип карты"
      />
    </div>
    <p class="card__number">{{ number }}</p>
    <div class="card__block card__block_margin_top">
      <p class="card__amount">{{ amount }}&#8381;</p>
      <p class="card__expiration-date">{{ expirationDate }}</p>
    </div>
  </div>
</article>
