@font-face {
  font-family: 'RobotoMono';
  font-style:  normal;
  font-weight: 400;
  src: url("RobotoMono-Regular.ttf");
}
@font-face {
  font-family: 'RobotoMono';
  font-style:  normal;
  font-weight: 500;
  src: url("RobotoMono-Medium.ttf");
}
@font-face {
  font-family: 'RobotoMono';
  font-style:  normal;
  font-weight: 700;
  src: url("RobotoMono-Bold.ttf");
}

